<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="ActionEngineModule.dll" moduleType="ActionEngineModule.ActionEngineModule, ActionEngineModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ActionEngineModule" startupLoaded="True" />
  </modules>
</configuration>